---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<section>
		<h2>Hello world</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl rhoncus mattis rhoncus urna neque. Vestibulum morbi blandit cursus risus at ultrices mi. Tincidunt dui ut ornare lectus sit. Nec feugiat in fermentum posuere. Vehicula ipsum a arcu cursus vitae. Tempor orci dapibus ultrices in. Tortor condimentum lacinia quis vel eros donec ac. Egestas diam in arcu cursus euismod quis viverra. Ultrices mi tempus imperdiet nulla malesuada. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Rutrum quisque non tellus orci ac auctor augue. Sed arcu non odio euismod lacinia at quis risus. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Amet est placerat in egestas erat imperdiet. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Cras pulvinar mattis nunc sed blandit.
		</p>
	</section>
	<a href="" class="cross-block"><img src="" alt="" srcset=""><span class="title">Title one</span><span class="name"></span><span class="date"></span></a>
	<a href="" class="cross-block"><img src="" alt="" srcset=""><span class="title">Title two</span><span class="name"></span><span class="date"></span>
	</a><a href="" class="cross-block"><img src="" alt="" srcset=""><span class="title">Title three</span><span class="name"></span><span class="date"></span></a>
	<a href="" class="cross-block"><img src="" alt="" srcset=""><span class="title">Title four</span><span class="name"></span><span class="date"></span></a>
	<section>
		<h2>Hello world</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl rhoncus mattis rhoncus urna neque. Vestibulum morbi blandit cursus risus at ultrices mi. Tincidunt dui ut ornare lectus sit. Nec feugiat in fermentum posuere. Vehicula ipsum a arcu cursus vitae. Tempor orci dapibus ultrices in. Tortor condimentum lacinia quis vel eros donec ac. Egestas diam in arcu cursus euismod quis viverra. Ultrices mi tempus imperdiet nulla malesuada. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Rutrum quisque non tellus orci ac auctor augue. Sed arcu non odio euismod lacinia at quis risus. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Amet est placerat in egestas erat imperdiet. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Cras pulvinar mattis nunc sed blandit.
		</p>
	</section>
	<section>
		<h2>Hello world</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl rhoncus mattis rhoncus urna neque. Vestibulum morbi blandit cursus risus at ultrices mi. Tincidunt dui ut ornare lectus sit. Nec feugiat in fermentum posuere. Vehicula ipsum a arcu cursus vitae. Tempor orci dapibus ultrices in. Tortor condimentum lacinia quis vel eros donec ac. Egestas diam in arcu cursus euismod quis viverra. Ultrices mi tempus imperdiet nulla malesuada. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Rutrum quisque non tellus orci ac auctor augue. Sed arcu non odio euismod lacinia at quis risus. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Amet est placerat in egestas erat imperdiet. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Cras pulvinar mattis nunc sed blandit.
		</p>
	</section>
	<section>
		<h2>Hello world</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl rhoncus mattis rhoncus urna neque. Vestibulum morbi blandit cursus risus at ultrices mi. Tincidunt dui ut ornare lectus sit. Nec feugiat in fermentum posuere. Vehicula ipsum a arcu cursus vitae. Tempor orci dapibus ultrices in. Tortor condimentum lacinia quis vel eros donec ac. Egestas diam in arcu cursus euismod quis viverra. Ultrices mi tempus imperdiet nulla malesuada. Ipsum nunc aliquet bibendum enim facilisis gravida neque. Rutrum quisque non tellus orci ac auctor augue. Sed arcu non odio euismod lacinia at quis risus. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Amet est placerat in egestas erat imperdiet. Egestas sed tempus urna et pharetra pharetra massa massa ultricies. Eget est lorem ipsum dolor sit amet consectetur adipiscing. Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Cras pulvinar mattis nunc sed blandit.
		</p>
	</section>
  
	
</BaseLayout>
