---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<section>
		<h2>The Big Javscript Day</h2>
		<div class="description">
			<span class="date">The 10th of July</span>
			<p>Two days of CSS with twelve expert speakers, looking at the current best practices and the future of CSS.</p>
			<a href="">View more</a>
		</div>
		<img src="../../public/images/chuko-cribb-opFj9AR6q50-unsplash.jpg">
	</section>
	<section>
		<h2>CSS Day</h2>
		<div class="description">
			<span class="date">The 10th of July</span>
			<p>Two days of CSS with twelve expert speakers, looking at the current best practices and the future of CSS.</p>
			<a href="">View more</a>
		</div>
		<img src="../../public/images/chuko-cribb-opFj9AR6q50-unsplash.jpg">
	</section>
	<section>
		<h2>CSS Day</h2>
		<div class="description">
			<span class="date">The 10th of July</span>
			<p>Two days of CSS with twelve expert speakers, looking at the current best practices and the future of CSS.</p>
			<a href="">View more</a>
		</div>
		<img src="../../public/images/chuko-cribb-opFj9AR6q50-unsplash.jpg">
	</section>
	<section>
		<h2>CSS Day</h2>
		<div class="description">
			<span class="date">The 10th of July</span>
			<p>Two days of CSS with twelve expert speakers, looking at the current best practices and the future of CSS.</p>
			<a href="">View more</a>
		</div>
		<img src="../../public/images/chuko-cribb-opFj9AR6q50-unsplash.jpg">
	</section>
  
	
</BaseLayout>
