---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    
    <HeaderLink href="/events">Events Do</HeaderLink>
    <HeaderLink href="/events/archive">Events Did</HeaderLink>
  
    <HeaderLink href="https://discord.gg/X5aXGyU3Q3" target="_blank">
      Discord
    </HeaderLink>
    <HeaderLink href="/resources">About</HeaderLink>
    <HeaderLink href="/resources">Resources</HeaderLink>
  </nav>
  <h1>Making events<br> For Making.</h1>
</header>

<style>
nav {
  grid-area: 1 / 2 / 3 / 3;
	justify-self: end;
  max-width: 45ch;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  margin: 0 0 var(--unit) 0;
  gap: calc(var(--unit) / 1.8) calc(var(--unit) / 2);
}

nav a {
  background-color: #F7E8C1;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  margin:0;

  font-weight: 700;
  color: #000;
	}
a.active {
}

</style>